services:
  postgres-flat:
    image: postgres:15
    volumes:
      - ./pg-data:/var/lib/postgresql/data
      - ./docker-scripts:/data/docker-scripts
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres-flat"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=postgres-flat
      - POSTGRES_PASSWORD=password-flat
      - POSTGRES_DB=converg-flat

  quads-loader-cli-flat:
    image: vcity/quads-loader-cli:ql-cli-v3.1.1
    depends_on:
      postgres-flat:
        condition: service_healthy
    volumes:
      - ./docker-scripts:/data/docker-scripts
      - ../experiment/datasets:/data/datasets
    environment:
      - "SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-flat:5432/converg-flat"
      - "SPRING_DATASOURCE_USERNAME=postgres-flat"
      - "SPRING_DATASOURCE_PASSWORD=password-flat"
      - "CONDENSED_MODE=false"

  quads-query-cli-flat:
    image: vcity/quads-query-cli:qq-cli-v3.0.0
    depends_on:
      - postgres-flat
    environment:
      - "DATASOURCE_URL=jdbc:postgresql://postgres-flat:5432/converg-flat"
      - "DATASOURCE_USERNAME=postgres-flat"
      - "DATASOURCE_PASSWORD=password-flat"
      - "CONDENSED_MODE=false"
    volumes:
      - ../experiment/queries:/data/queries
